<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.xinrui.mapper.EmrExClinicalMapper">

    <!-- 检查报告主表查询 -->
    <select id="selectEmrExClinical" resultType="org.xinrui.entity.EmrExClinical">
        SELECT
        ter.OID,
        tpp.Patient_Id,
        tpa.Patient_Source_Type,
        tpr.Outpatient_No,
        tpr.Admission_No,
        tpr.Bed_No,
        tpa.Application_ID,
        tpp.Name,
        tpp.Person_ID,
        tpr.Modality,
        ter.Findings,
        ter.Impressions,
        ter.Report_ID,
        ter.Report_Date,
        ter.Reader,
        tpr.tenant_OID,
        tpa.Outref_Application_Dept
        FROM T_Pacs_Exam_Report ter
        LEFT JOIN T_Pacs_Registration tpr ON ter.Registration_OID = tpr.OID
        LEFT JOIN T_Pacs_Patient tpp ON tpr.Patient_OID = tpp.OID
        LEFT JOIN T_Pacs_Application tpa ON tpr.Application_OID = tpa.OID
        WHERE ter.Report_Date BETWEEN #{query.startTime} AND #{query.endTime}
    </select>

</mapper>
